<h1>Edit Event</h1>

<form method="post" action="/events/edit">
    <div class="form-group">
        <label for="name">Name</label>
        <input value="@ViewBag.eventToEdit.Name" name="name" type="text" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input value="@ViewBag.eventToEdit.Description" name="description" />
    </div>
    <input type="hidden" value="@ViewBag.eventToEdit.Id" name="eventId" />
    <input type="submit" value="Edit Event" />
</form>
